<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cnjxufe.bean.DepartmentMapper">
    <select id="getDepartmentById" databaseId="sql_server" resultType="cnjxufe.bean.Department">
        select *
        from tbl_ss_department
        where department_id = #{department_id};
    </select>
</mapper>